<!DOCTYPE html>
<html>
  <head>
    <title>Space Invaders</title>
    <link rel="stylesheet" type="text/css" href="css/core.css" />
    <link rel="stylesheet" type="text/css" href="css/typeography.css" />
    <style>
      /* Styling needed for a fullscreen canvas and no scrollbars. */
      body,
      html {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }

      /* Here's where we'll put Space Invader styles... */
    </style>
  </head>
  <body>
    <!-- this is where the Space Invaders HTML will go... */ -->
    <script src="js/starfield.js"></script>
    <script src="js/spaceinvaders.js"></script>
    <script>
      /* And this is where we'll put our JS. */
    </script>
  </body>
</html>
