.background {
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.cloud {
  margin-top: 150px;
  width: 100px;
  height: 120px;
  background: #eceff1;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  overflow: hidden;
}
.cloud::after,
.cloud::before {
  content: "";
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
}
#cloud-circle {
  filter: url(#filter);
  box-shadow: 200px 200px 50px 0px #fff;
}
.cloud::after {
  width: 100px;
  height: 100px;
  top: -220px;
  left: 50px;
}
.cloud::before {
  width: 180px;
  height: 180px;
  top: -70px;
  left: 130px;
}
