.contact-form {
  text-align: left;
  justify-items: center;
  .email {
    transform: translateX(5px);
  }
  .full-name {
    transform: translateX(10px);
  }
  .contact-btn {
    transform: translateX(165px);
  }
}

textarea {
  border-radius: 5%;
}

.successful-message {
  font-size: 20px;
  // float: left;
  transform: translateX(-190px) translateY(60px);
}
