.footer {
  position: absolute;
  @include layout;

  @media (max-width: 715px) {
    transform: translateY(220px);
  }

  left: 0;
  bottom: 0;
  right: 0;
  background-color: $header;
  transform: translateY(180px);

  .contact {
    @include footer;
    text-decoration: none;
    @media (max-width: 715px) {
      margin: 5px;
    }
  }

  .contact:hover {
    color: rgb(100, 6, 88);
  }

  .lmp {
    @include footer;
  }
}

.profile-contact,
.profile-lmp {
  text-decoration: none;
  margin-left: 150px;
  font-size: 25px;
  display: inline;
  color: white;
  @media (max-width: 715px) {
    transform: translateX(5px);
    margin-left: 20px;
  }
}

.profile-contact:hover {
  color: #b535fc;
}
