.footer {
  position: absolute;
  height: 100px;
  width: 98.75vw;
  @include layout;

  left: 0;
  bottom: 0;
  right: 0;
  background-color: $header;
  transform: translateY(180px);

  .contact {
    @include footer;
    text-decoration: none;
  }

  .contact:hover {
    color: rgb(100, 6, 88);
  }

  .lmp {
    @include footer;
  }
}

.profile-contact,
.profile-lmp {
  text-decoration: none;
  margin-left: 150px;
  font-size: 25px;
  display: inline;
  color: white;
}

.profile-contact:hover {
  color: #b535fc;
}
