.footer {
  position: absolute;
  height: 100px;
  width: 98.75vw;
  @include layout;

  left: 0;
  bottom: 0;
  right: 0;
  background-color: $header;
  transform: translateY(180px);

  .contact {
    @include footer;
    text-decoration: none;
  }

  .lmp {
    @include footer;
  }
}
