.logout-btn {
  float: left;
  margin-right: 20px;
  @media (max-width: 615px) {
    transform: translateY(40px) translateX(20px);
  }
}

.logout-btn:hover {
  background-image: linear-gradient(180deg, rgb(47, 0, 255), rgb(255, 0, 234));
}

.homepace-header {
  margin: 10px;
  transform: translateX(280px);
  @media (max-width: 615px) {
    transform: translateX(110px);
  }
}
