.cloud-svg-landing {
  display: grid;
  justify-content: right;
  font-family: "Old Standard TT", serif;
  font-weight: 600;
  font-size: 20px;
  grid-template-rows:
    [signin-s] 64px [signin-e register-s] 64px [register-e shop-s] minmax(
      20px,
      160px
    )
    [shop-e];
  grid-template-columns: 1fr;

  @media (max-width: 615px) {
    transform: translateX(50px);
  }

  a {
    text-decoration: none;
    height: 2px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }
  a:hover {
    color: #521166;
    box-shadow: 5px 5px 50px rgba(3, 2, 3, 0.4);
  }
}

foreignObject {
  @media (max-width: 615px) {
    transform: translateX(-600px);
  }
}
